<!doctype html>
<html ng-app="playground">
  <head>
    <title>GopherJS Playground</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="PlaygroundCtrl">

    <div id="container"><div id="main"><div id="editor"></div></div></div>
    <script src="ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/tomorrow");
        editor.getSession().setMode("ace/mode/golang");
        editor.renderer.setShowGutter(false);
        editor.setHighlightActiveLine(false);
        editor.setShowFoldWidgets(false);
        editor.setDisplayIndentGuides(false);
        editor.setReadOnly(false);
        editor.setOptions({
            maxLines: Infinity,
            minLines: 20,
            fontFamily: "Consolas, Inconsolata, Monaco, \"Courier New\", Courier, monospace",
            fontSize: "13px",
        });
        editor.commands.removeCommands(["gotoline", "find"]);
    </script>
    
    <div id="banner">
      <span id="head"><a href="https://github.com/gopherjs/gopherjs" style="color: black;">GopherJS</a> Playground</span>
      <span id="controls">
        <input type="button" value="Run" ng-click="run(false)" />
        <input type="button" value="Format" ng-click="format()" />
        <label><input ng-model="showGenerated" type="checkbox" />Show generated code for main package</label>
      </span>
    </div>
    
    <div class="box show-generated-{{showGenerated}}" style="top: 50px; bottom: 25%;">
      <div class="box yellow" id="input">
        <textarea ng-model="code" id="code" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false"></textarea>
      </div>
      <div class="box yellow" id="generated">
        <pre style="margin: 0px;">{{generated}}</pre>
      </div>
    </div>
    <div class="box" style="top: 75%;" id="output">
      <pre ng-repeat="line in output" class="{{line.type}}">{{line.content}}&nbsp;</pre>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="playground.js"></script>
  </body>
</html>
